.env
/AGENTS.md
/notebooks/vinumqa/0-shot/outputs
/notebooks/vinumqa/1-shot/outputs
/notebooks/vinumqa/few-shot/outputs
/notebooks/vinumqa/few-shot/*.checkpoint.json
/notebooks/vinumqa/graph-agent/outputs
/notebooks/vinumqa/distill-reasoning-trace/conr-v1
/notebooks/vinumqa/distill-reasoning-trace/conr_trace_full_train.json
/notebooks/vinumqa/distill-reasoning-trace/conr_trace_full_valid.json
/notebooks/vinumqa/distill-reasoning-trace/conr_trace_sft_ready.json
/notebooks/vinumqa/sft-grpo/template-sft-grpo-qwen3-4b-base.ipynb
/temp
__pycache__/
